
/* Styles général*/


body {
    background-color: #fff; /* fond blanc */
    color: #000;            /* texte noir */
    font-family: "Times New Roman", Georgia, Serif;
    margin: 0;
    padding: 0;
}


/* Header et images*/


header {
    font-family: cursive;
    color: black;
    font-weight: 600;
    font-style: oblique;
    text-align: left;
    padding: 10px;
}

.img_f_right {
    float: right;
    padding: 7px;
}

.image1 {
    width: 300px;
    height: 200px;
}


/* Navigation*/


nav {
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 30px;
    margin: 35px;
    padding: 5px;
    text-align: center;
}

nav a {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-style: oblique;
    margin: 0 2%;
    display: inline-block;
}

nav a:hover {
    text-shadow: 1px 1px 0px black;
}

/*Mobile / responsive nav*/
@media screen and (max-width: 1200px) {
    nav {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }

    nav a {
        display: block;
        font-size: 1.4em;
        padding: 8px;
    }
}


/* Section & titres*/


section h1 {
    font-family: "learning_curveregular", cursive;
    padding: 5px;
    border-left: 5px solid blue;
    border-bottom: 2px solid navy;
}

@media screen and (min-width: 1200px) {
    section h1 {
        font-size: 3.1em;
    }
}

@media screen and (max-width: 1200px) {
    section h1 {
        font-size: 2em;
    }
}


/*Footer*/


footer p {
    font-family: "Times New Roman", Georgia, Serif;
    text-align: center;
    color: black;
    font-weight: 300;
}

@media screen and (min-width: 1200px) {
    footer p { font-size: 1.1em; }
}

@media screen and (max-width: 1200px) {
    footer p { font-size: 0.8em; }
}


/*Hamburger menu*/


.hamburger {
    height: 80px;
    width: 80px;
}

@media screen and (min-width: 1000px) {
    .hamburger { display: none; }
}


/*PC-only content*/


.pc {
    display: block;
}

@media screen and (max-width: 1200px) {
    .pc { display: none; }
}


/*Jeu du labyrinthe*/


